@use 'variables';
@use 'initial';
@use 'mixins';

.main-container {
  width: 375px;
  margin: auto;

  &_background-section {
    background-image: url(../images/bg-main-mobile.png);
    background-repeat: no-repeat;
    height: 240px;
    position: relative;
  }

  &_form-section {
    padding: 90px 24px 45px;
  }

  @media (min-width: 1440px) {
    width: 1440px;
    display: flex;

    &_background-section {
      background-image: url(../images/bg-main-desktop.png);
      width: 900px;
      height: 900px;
    }
  }
}

.card {
  @include mixins.card('../images/bg-card-front.png');
  @include mixins.card-position(120px, 18px, 185px, 165px);
  z-index: 1;
  letter-spacing: 2px;

  &_logo {
    width: 32px;
  }

  &_number {
    margin: 30px 0 30px 0;
  }

  &_details {
    display: flex;
    justify-content: space-between;
    font-size: 0.6rem;
    text-transform: uppercase;
  }
  @media (min-width: 1440px) {
    &_logo {
      width: 85px;
    }
    &_number {
      font-size: 1.6rem;
      margin: 50px 0 50px 0;
    }
    &_details {
      font-size: 0.8rem;
    }
  }
}

.card_back {
  @include mixins.card('../images/bg-card-back.png');
  @include mixins.card-position(30px, 75px, 470px, 260px);
  letter-spacing: 2px;
  &_cvc {
    font-size: 0.7rem;
    margin-top: 50px;
    text-align: right;
    padding-right: 10px;
    @media (min-width: 1440px) {
      font-size: 1em;
      margin-top: 78px;
      padding-right: 20px;
    }
  }
}

.form {
  display: block;
  &_label {
    text-transform: uppercase;
    font-size: 0.65em;
    letter-spacing: 1.5px;
    display: block;
    margin-bottom: 8px;
    color: variables.$Very-dark-violet;
    font-weight: bold;
  }
  &_input {
    width: 100%;
    height: 40px;
    margin-bottom: 18px;
    border-radius: 4px;
    border: 1px solid variables.$Light-grayish-violet;
    font-family: variables.$font;
    padding-left: 10px;
    font-size: 1em;
    outline: none;
    &::placeholder {
      color: variables.$Light-grayish-violet;
    }
  }
  &_date-cvc {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 6px;
  }
  &_date{
    display: flex;
    gap: 10px;
  }
  &_submit {
    background-color: variables.$Very-dark-violet;
    color: variables.$White;
    width: 100%;
    height: 50px;
    border-radius: 8px;
    font-size: 1em;
    letter-spacing: 1px;
    font-family: variables.$font;
    &:hover {
      cursor: pointer;
    }
  }
  @media (min-width: 1440px) {
    width: 385px;
    margin-top: 180px;
    &_input {
      margin-bottom: 40px;
    }
  }
}

.error {
  color: variables.$red;
  margin: -10px 0 18px;
  font-size: 0.6em;
}

.form_errors-container{
  display: flex;
  gap: 5px;
}
.form_errors-container div {
  width: 100px;
  text-align: center;
  margin-left: -7px;
}

.thanks-section {
  display: none;
  &_img {
    display: block;
    margin: auto;
    margin-bottom: 30px;
  }
  &_title {
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    letter-spacing: 4px;
    color: variables.$Very-dark-violet;
    margin-bottom: 20px;
  }
  &_text {
    text-align: center;
    color: variables.$Dark-grayish-violet;
    font-size: 1.1em;
    margin-bottom: 40px;
  }
  &_button {
    @extend .form_submit;
  }
  @media (min-width: 1440px) {
    margin-top: 180px;
    
  }
}

.attribution {
  text-align: center;
  font-size: 18px;

  position: relative;
  bottom: 30px;
  left: 20px;
}
